.container{
    background-color: #f0f2f5;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    
}

.logo{
    text-align: center;
    padding: 5px 0;
    img{
        height: 100px;
    }
}
.box-parent {
    position: relative;
}
.box-child{
    position: absolute;
    display: flex;
    z-index: 100;
    top: 0;
    left: calc(-80% - 5px);
    min-width: 175px;
    max-width: 300px;
    .box-err {
        display: flex;
        background-color: #be4b49;
        min-height: 40px;
        width: 100%;
        border-radius: 3px;
        padding: 5px;
        p {
            color: #f0f2f5 !important;
            padding: 5px;
            margin: 0;
            font-size: 13px;
        }
    
    }
    .triangle-right{
        margin-top: 10px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #be4b49;
    }
}

.content{
    margin: 0 auto 60px;
    width: 432px;
    hr{
        width: 100%;
    }
    .title{
        padding: 10px 16px;
        text-align: center;
        h2{
            font-size: 25px;
            font-weight: 700;
        }
        p{
            color: #606770;
            font-size: 15px;
            margin: 0;
        }
    }
    .fromRegister{
        padding: 16px;
        input{
            font-size: 15px;
            &::placeholder{
                color: #8d949e;
            }
        }
        
        .userName{
            .rowContent{
                flex-wrap: nowrap;
            }
            input{
                padding: 11px;
                height: 40px;
                width: 194px;
                margin-bottom: 10px;
            }
        }
        .dateTime{
            p{
                color: #606770;
                margin: 2px 0 4px;
                font-size: 12px;
            }
            div{
                display: flex;
                justify-content: space-between;
                .date{
                    height: 36px;
                    line-height: 20px;
                    width: 125px;
                    select{
                        border-radius: 4px;
                        color: #1c1e21;font-size: 15px;
                        font-weight: normal;
                        height: 36px;
                        line-height: 20px;
                    }
                }
            }
        }
        .gender{
            margin: 10px 0;
            width: 411px;
            p{
                color: #606770;
                margin: 2px 0 4px;
                font-size: 12px;
            }
            div{
                display: flex;
                justify-content: space-between;
                .genderOption:nth-child(1){
                    flex: 2;
                }
                .genderOption:nth-child(2){
                    flex: 2;
                }
                .genderOption:nth-child(3){
                    flex: 3;
                }
                .genderOption{
                    display: flex;
                    align-items: center;
                    border-radius: 3px;
                    border: 1px solid #dee2e6;
                    height: 36px;
                    padding: 0 10px;
                }
            }
        }
        .userAcc{
            div{
                input{
                    height: 40px;
                    padding: 11px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .infoContent{
        color: #777777;
        font-size: 11px;
        padding: 0 16px;
        a{
            color: #385898;
            &:hover{
                text-decoration: underline;
            }
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .btnForm{
                text-align: center;
                background-color: #00a400;
                color: #fff;
                font-weight: 700;
                height: 36px;
                width: 194px;
                padding: 0 32px;
                margin: 10px 0;
                font-size: 17px;
                border-radius: 5px;
                &:hover{
                    cursor: pointer;
                    background-color: rgba(#00a400, 0.95);
                }
            }
            .toLogin{
                text-align: center;
                font-size: 17px;
                padding: 10px 0;
                a{
                    color: #1877f2;
                    text-decoration: none;
                    
                }
            }
        }
    }
}
